

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
   opacity: 0.4;
   transform: rotate(-45deg);
}


.star {
  --star-color: #31415a;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}

.star::before {
  transform: rotate(45deg);
}

.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  0% {
    opacity: 1;
    transform: translate3d(104em, 0, 0);
  }
  95% {
    opacity: 1; 
  }
  100% {
    opacity: 0; 
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70% {
    width: 0;
    opacity: 0.6;
  }
  85% {
    width: 0;
    opacity: 0.3;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}

